<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap"
        rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <title>Web Page Bakery</title>

</head>

<body>

    <header class="header">
        <%- include('header'); %>
    </header>


    <section class="gallery" id="gallery">
        <div class="container-gallery">
            <div class="heading">Algunos Productos</div>
            <div class="image-container">
                <div class="image">
                    <img src="img/product1.jpg" alt="">
                </div>
                <div class="image">
                    <img src="img/product2.jpg" alt="">
                </div>
                <div class="image">
                    <img src="img/product3.jpg" alt="">
                </div>
                <div class="image">
                    <img src="img/product4.jpg" alt="">
                </div>
                <div class="image">
                    <img src="img/product5.jpg" alt="">
                </div>
                <div class="image">
                    <img src="img/product6.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <footer id="contact">
        <div class="container footer-content">
            <div class="contact-us">
                <h2 class="brand">Bakery</h2>
                <p>Date el lujo de comer de verdad</p>
            </div>
            <div class="social-media">
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="./" class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>

  
    <script src="js/main.js"></script>
   
</body>

</html>