<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web page Bakery</title>
</head>
<body>
    <header class="header">
        <div class="main">
            <div class="logo">
                <img src="img/Logo-examplepng.png" alt="">
            </div>
            <nav class="menu-navegation">
                <a href="/" class="active">Home</a>
                <a href="/productos">Productos</a>
                <a href="#delivery">Pedidos</a>
                <a href="#aboutUs">Acerca de</a>
                <a href="#contact">Contacto</a>
            </nav>
        </div>
        <div class="container head">
            <h1 class="title">Date el lujo de comer de verdad</h1>
            <p class="copy">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
        </div>
    </header>
</body>
</html>