* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Architects Daughter', cursive;
}

header {
    height: 100vh;
    background-image: url(../img/bg-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-navegation {
    float: right;
    margin-top: 25px;
}

.menu-navegation a {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    color: white;
    transition: 0.6s ease-in-out;
}

.menu-navegation a:hover {
    background-color: #fff;
    color: #000;
}

.menu-navegation .active {
    background-color: #fff;
    color: #000;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.container {
    width: 85%;
    margin: auto;
    padding-bottom: 80px;
}

.container-gallery .heading {
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: var(--purple);
    font-family: 'Lobster', cursive;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container .image{
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
}

.image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border:none;
    cursor: pointer;
}

.image-container .image img:hover{
    transition: .2s linear;
    transform: scale(1.3);
}

.image-container .image .active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
    z-index: 1;
}

.image-container .image .active:hover{
    transition: none;
    transform: translate(-50%, -50%) scale(1);
}


/* Footer and Social Media */
footer {
    background-image: url(../img/bg-footer.jpg);
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(2px);
    padding-bottom: 0.1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us {
    width: 40%;
    color: #ffffff;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.social-media-icon:hover {
    background: #ffffff;
    color: #764ba2;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #ffffff;
    margin-bottom: 60px;
}